{:paths ["src"]
 :deps {clojure.java-time/clojure.java-time {:mvn/version "0.3.2"}
        com.datomic/datomic-pro {:mvn/version "1.0.6397"}
        crypto-password/crypto-password {:mvn/version "0.3.0"}
        fogus/ring-edn {:mvn/version "0.3.0"}
        clj-time/clj-time {:mvn/version "0.11.0"}
        com.cognitect/transit-clj {:mvn/version "0.8.285"}
        clojure-csv/clojure-csv {:mvn/version "2.0.1"}
        org.clojure/algo.generic {:mvn/version "0.1.2"}
        org.clojure/math.numeric-tower {:mvn/version "0.0.4"}
        com.taoensso/timbre {:mvn/version "3.1.6"}
        org.clojure/core.match {:mvn/version "0.2.2"}
        com.velisco/clj-ftp {:mvn/version "0.3.5"}
        instaparse/instaparse {:mvn/version "1.4.8"}
        org.clojure/tools.logging {:mvn/version "0.3.1"}
        org.clojure/tools.namespace {:mvn/version "0.2.11"}
        clojurewerkz/propertied {:mvn/version "1.2.0"}
        clojurewerkz/quartzite {:mvn/version "2.0.0"}}
 :aliases {:build {:deps #_{io.github.clojure/tools.build {:git/tag "v0.7.5" :git/sha "34727f7"}}
                   {io.github.seancorfield/build-clj
                    {:git/tag "v0.8.0" :git/sha "9bd8b8a"}}
                   :ns-default build}}
 :mvn/repos {"my.datomic.com" {:url "https://my.datomic.com/repo"}}}