[
  ;information about used units
  {:db/id #db/id[:db.part/db]
   :db/ident :meta/unit
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db.install/_attribute :db.part/db}

  ;language some entity is in
  {:db/id #db/id[:db.part/db]
   :db/ident :meta/language
   :db/valueType :db.type/keyword
   :db/cardinality :db.cardinality/one
   :db.install/_attribute :db.part/db}

  ;rest.ui relevant meta information
  {:db/id #db/id[:db.part/db]
   :db/ident :rest.ui/describe-attribute
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one
   :db/doc "The attribute being described."
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :rest.ui/label
   :db/valueType :db.type/ref
   :db/isComponent true
   :db/cardinality :db.cardinality/one
   :db/doc "The label the ui element will have,
  referencing an entity containing :lang/xx strings."
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :rest.ui/placeholder
   :db/valueType :db.type/ref
   :db/isComponent true
   :db/cardinality :db.cardinality/one
   :db/doc "The placeholder which could be displayed in an empty ui element.
  References a :lang/xx entity"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :rest.ui/order-no
   :db/valueType :db.type/long
   :db/cardinality :db.cardinality/one
   :db/doc "if displayed in the ui, the order where the entity will appear"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :rest.ui/groups
   :db/valueType :db.type/keyword
   :db/cardinality :db.cardinality/many
   :db/doc "a list if groups this entity will belong to in the ui, might be a web page for example"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :rest.ui/ref-group
   :db/valueType :db.type/keyword
   :db/cardinality :db.cardinality/one
   :db/doc "Tells which group a reference points to."
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :rest.ui/type
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one
   :db/doc "Optionally further defines the type of the ui entity, e.g. an email-address."
   :db.install/_attribute :db.part/db}

  [:db/add #db/id[:berest.part/rest-ui] :db/ident :rest.ui.type/email]
  [:db/add #db/id[:berest.part/rest-ui] :db/ident :rest.ui.type/multi-line-text]
  [:db/add #db/id[:berest.part/rest-ui] :db/ident :rest.ui.type/ref-list]
  [:db/add #db/id[:berest.part/rest-ui] :db/ident :rest.ui.type/enum-list]

  {:db/id #db/id[:db.part/db]
   :db/ident :rest.ui/list
   :db/valueType :db.type/keyword
   :db/cardinality :db.cardinality/one
   :db/doc "A list the entity belongs to.
  Will be used to designate the list an entity belongs to,
  also to tell at the parent type/ref entity if this is
  an enum-list (then the value is the :rest.ui/list keyword)
  or ref-list (then the value is a db/indent keyword of the
  attribute which is used by all the list elements)."
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :rest.ui/list-values
   :db/valueType :db.type/keyword
   :db/cardinality :db.cardinality/one
   :db/doc "References with a keyword the ui entities representing the list elements."
   :db.install/_attribute :db.part/db}

  ;; language attributes
  {:db/id #db/id[:db.part/db]
   :db/ident :lang/en
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db/doc "assigning an english language string to an entity"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :lang/de
   :db/valueType :db.type/string
   :db/cardinality :db.cardinality/one
   :db/doc "assigning a german language string to an entity"
   :db.install/_attribute :db.part/db}

  ]




