[
 ;; farm

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :farm/id
  :rest.ui/order-no 1
  :rest.ui/label {:lang/en "Id"
                  :lang/de "Id"}
  :rest.ui/placeholder {:lang/en "unique id"
                        :lang/de "Eindeutige Betriebs-Id"}
  :rest.ui/groups :farm}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :farm/name
  :rest.ui/order-no 2
  :rest.ui/label {:lang/en "name"
                  :lang/de "Name"}
  :rest.ui/placeholder {:lang/en "farm name"
                        :lang/de "Betriebsname"}
  :rest.ui/groups :farm}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :farm/addresses
  :rest.ui/order-no 3
  :rest.ui/label {:lang/en "address"
                  :lang/de "Adressen"}
  :rest.ui/groups :farm
  :rest.ui/ref-group :address}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :farm/com-connections
  :rest.ui/order-no 4
  :rest.ui/label {:lang/en "communication channels"
                  :lang/de "Kommunikation"}
  :rest.ui/groups :farm}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :farm/contacts
  :rest.ui/order-no 5
  :rest.ui/label {:lang/en "contacts"
                  :lang/de "Kontakte"}
  :rest.ui/groups :farm}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :farm/contract
  :rest.ui/order-no 6
  :rest.ui/label {:lang/en "contract state"
                  :lang/de "Vertragsstatus"}
  :rest.ui/groups :farm
  :rest.ui/ref-group :contract}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :farm/notes
  :rest.ui/order-no 7
  :rest.ui/label {:lang/en "notes"
                  :lang/de "Notizen"}
  :rest.ui/placeholder {:lang/en "some note"
                        :lang/de "Hinweis/Notiz"}
  :rest.ui/type :rest.ui.type/multi-line-text
  :rest.ui/groups :farm}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :farm/plots
  :rest.ui/order-no 8
  :rest.ui/label {:lang/en "plots"
                  :lang/de "Schläge"}}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :farm/authorative-weather-station
  :rest.ui/order-no 9
  :rest.ui/label {:lang/en "DWD weather station"
                  :lang/de "DWD Wetterstation"}
  :rest.ui/groups :farm
  :rest.ui/type :rest.ui.type/ref-list
  :rest.ui/list-values :weather-station/id}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :farm/weather-station
  :rest.ui/order-no 10
  :rest.ui/label {:lang/en "local weather station"
                  :lang/de "Lokale Wetterstation"}
  :rest.ui/groups :farm}

 #_{:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :farm/weather-data
  }

 ;; address

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :address/street
  :rest.ui/order-no 1
  :rest.ui/label {:lang/en "street"
                  :lang/de "Strasse"}
  :rest.ui/placeholder {:lang/en "example street 12"
                        :lang/de "Beispielstrasse 12"}
  :rest.ui/groups :address}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :address/postal-code
  :rest.ui/order-no 2
  :rest.ui/label {:lang/en "postal code"
                  :lang/de "PLZ"}
  :rest.ui/groups :address}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :address/city
  :rest.ui/order-no 3
  :rest.ui/label {:lang/en "city"
                  :lang/de "Stadt"}
  :rest.ui/groups :address}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :address/city-part
  :rest.ui/order-no 4
  :rest.ui/label {:lang/en "city part"
                  :lang/de "Stadtteil"}
  :rest.ui/groups :address}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :address/municipality
  :rest.ui/order-no 5
  :rest.ui/label {:lang/en "municipality"
                  :lang/de "Gemeinde/Landkreis"}
  :rest.ui/groups :address}

  {:db/id #db/id[:berest.part/rest-ui]
   :rest.ui/describe-attribute :address/municipality-short
  :rest.ui/order-no 6
  :rest.ui/label {:lang/en "mun. code"
                  :lang/de "LK Zeichen"}
  :rest.ui/groups :address}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :address/state
  :rest.ui/order-no 7
  :rest.ui/label {:lang/en "state"
                  :lang/de "Bundesland"}
  :rest.ui/groups :address}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :address/state-short
  :rest.ui/order-no 8
  :rest.ui/label {:lang/en "state code"
                  :lang/de "BL Zeichen"}
  :rest.ui/groups :address}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :address/country
  :rest.ui/order-no 9
  :rest.ui/label {:lang/en "country"
                  :lang/de "Land"}
  :rest.ui/groups :address}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :address/country-short
  :rest.ui/order-no 10
  :rest.ui/label {:lang/en "country code"
                  :lang/de "Landeskennzeichen"}
  :rest.ui/groups :address}

 ;; contract

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :contract/state
  :rest.ui/type :rest.ui.type/enum-list
  :rest.ui/list-values :contract/state
  :rest.ui/order-no 1
  :rest.ui/label {:lang/en "contract state"
                  :lang/de "Vertragsstatus"}
  :rest.ui/groups :contract}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :contract/start
  :rest.ui/order-no 2
  :rest.ui/label {:lang/en "contract start"
                  :lang/de "Vertragsbeginn"}
  :rest.ui/groups :contract}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :contract/end
  :rest.ui/order-no 3
  :rest.ui/label {:lang/en "contract end"
                  :lang/de "Vertragsende"}
  :rest.ui/groups :contract}

;; contract state list elements

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :contract.state/contact
  :rest.ui/list :contract/state
  :rest.ui/order-no 1
  :rest.ui/label {:lang/en "contact"
                  :lang/de "Kontakt"}}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :contract.state/consulting
  :rest.ui/list :contract/state
  :rest.ui/order-no 2
  :rest.ui/label {:lang/en "consulting"
                  :lang/de "Beratung"}}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :contract.state/repeated
  :rest.ui/list :contract/state
  :rest.ui/order-no 3
  :rest.ui/label {:lang/en "repeated"
                  :lang/de "Wiederholung"}}


 ;;weather station

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :weather-station/id
  :rest.ui/order-no 1
  :rest.ui/label {:lang/en "id"
                  :lang/de "Id"}
  :rest.ui/placeholder {:lang/en "12345"
                        :lang/de "12345"}
  :rest.ui/groups :weather-station}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :weather-station/name
  :rest.ui/order-no 2
  :rest.ui/label {:lang/en "name"
                  :lang/de "Name"}
  :rest.ui/placeholder {:lang/en "some more descriptive station name"
                        :lang/de "Wetterwarte xyz"}
  :rest.ui/groups :weather-station}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :weather-station/geo-coord
  :rest.ui/order-no 3
  :rest.ui/label {:lang/en "geo-location"
                  :lang/de "Geo-Position"}
  :rest.ui/groups :weather-station
  :rest.ui/ref-group :geo-coord}

 ;;geo coord

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :geo-coord/latitude
  :rest.ui/order-no 1
  :rest.ui/label {:lang/en "lat"
                  :lang/de "lat"}
  :rest.ui/placeholder {:lang/en "latitude"
                        :lang/de "Breitengrad/Latitude"}
  :rest.ui/groups :geo-coord}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :geo-coord/longitude
  :rest.ui/order-no 2
  :rest.ui/label {:lang/en "long"
                  :lang/de "long"}
  :rest.ui/placeholder {:lang/en "longitude"
                        :lang/de "Längengrad/Longitude"}
  :rest.ui/groups :geo-coord}

  #_{:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :geo-coord/gk5-r
   :rest.ui/order-no 3
   :rest.ui/label {:lang/en "GK5-right"
                   :lang/de "GK5-rechts"}
   :rest.ui/placeholder {:lang/en "GK5 right value"
                         :lang/de "GK5 Rechtswert"}
   :rest.ui/groups :geo-coord}

 #_{:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :geo-coord/gk5-h
  :rest.ui/order-no 4
  :rest.ui/label {:lang/en "GK5-height"
                  :lang/de "GK5-Höhe"}
  :rest.ui/placeholder {:lang/en "GK5 height value"
                        :lang/de "GK5 Hochwert"}
  :rest.ui/groups :geo-coord}



 ;; user

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :user/id
  :rest.ui/order-no 1
  :rest.ui/label {:lang/en "id"
                  :lang/de "Id"}
  :rest.ui/placeholder {:lang/en "user id"
                        :lang/de "Nutzer Id"}
  :rest.ui/groups :user}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :user/password
  :rest.ui/order-no 2
  :rest.ui/label {:lang/en "password"
                  :lang/de "Passwort"}
  :rest.ui/placeholder {:lang/en "some good password"
                        :lang/de "ein gutes Passwort"}
  :rest.ui/groups :user}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :user/full-name
  :rest.ui/order-no 3
  :rest.ui/label {:lang/en "full name"
                  :lang/de "voller Name"}
  :rest.ui/placeholder {:lang/en "John Doe"
                        :lang/de "Max Mustermann"}
  :rest.ui/groups :user}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :user/roles
  :rest.ui/order-no 4
  :rest.ui/label {:lang/en "role"
                  :lang/de "Rolle"}
  :rest.ui/groups :user
  :rest.ui/type :rest.ui.type/enum-list
  :rest.ui/list-values :user/roles}

 ;; user roles list elements

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :user.role/admin
  :rest.ui/list :user/roles
  :rest.ui/order-no 1
  :rest.ui/label {:lang/en "Admininstrator"
                  :lang/de "Administrator"}}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :user.role/consultant
  :rest.ui/list :user/roles
  :rest.ui/order-no 2
  :rest.ui/label {:lang/en "Consultant"
                  :lang/de "Berater"}}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :user.role/farmer
  :rest.ui/list :user/roles
  :rest.ui/order-no 3
  :rest.ui/label {:lang/en "Farmer"
                  :lang/de "Landwirt"}}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :user.role/guest
  :rest.ui/list :user/roles
  :rest.ui/order-no 4
  :rest.ui/label {:lang/en "Guest"
                  :lang/de "Gast"}}

 ;; crop

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :crop/id
  :rest.ui/order-no 1
  :rest.ui/label {:lang/en "Id"
                  :lang/de "Id"}
  :rest.ui/placeholder {:lang/en "unique id"
                        :lang/de "Eindeutige Fruchtart-Id"}
  :rest.ui/groups :crop}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :crop/name
  :rest.ui/order-no 2
  :rest.ui/label {:lang/en "name"
                  :lang/de "Name"}
  :rest.ui/placeholder {:lang/en "crop name"
                        :lang/de "Name der Fruchtart"}
  :rest.ui/groups :crop}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :crop/description
  :rest.ui/order-no 3
  :rest.ui/label {:lang/en "description"
                  :lang/de "Beschreibung"}
  :rest.ui/placeholder {:lang/en "crop description"
                        :lang/de "Beschreibung der Fruchtart"}
  :rest.ui/groups :crop}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :crop/number
  :rest.ui/order-no 4
  :rest.ui/label {:lang/en "BEREST number"
                  :lang/de "BEREST-Nummer"}
  :rest.ui/placeholder {:lang/en "BEREST crop number"
                        :lang/de "BEREST Nummer der Fruchtart"}
  :rest.ui/groups :crop}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :crop/cultivation-type
  :rest.ui/order-no 5
  :rest.ui/label {:lang/en "BEREST cultivation type"
                  :lang/de "BEREST Anbauform"}
  :rest.ui/placeholder {:lang/en "BEREST cultivation type (1-8)"
                        :lang/de "BEREST Anbauform (1-8)"}
  :rest.ui/groups :crop}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :crop/usage
  :rest.ui/order-no 6
  :rest.ui/label {:lang/en "BEREST usage"
                  :lang/de "BEREST Verwendungszweck"}
  :rest.ui/placeholder {:lang/en "BEREST usage (0-9)"
                        :lang/de "Name der Fruchtart (0-9)"}
  :rest.ui/groups :crop}

 {:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :crop/symbol
  :rest.ui/order-no 7
  :rest.ui/label {:lang/en "crop symbol"
                  :lang/de "Fruchtart Symbol"}
  :rest.ui/placeholder {:lang/en "crop symbol"
                        :lang/de "Fruchtart Symbol"}
  :rest.ui/groups :crop}

 #_{:db/id #db/id[:berest.part/rest-ui]
  :rest.ui/describe-attribute :crop/dc-to-rel-dc-days
  :rest.ui/order-no 8
  :rest.ui/label {:lang/en "name"
                  :lang/de "Name"}
  :rest.ui/placeholder {:lang/en "crop name"
                        :lang/de "Name der Fruchtart"}
  :rest.ui/groups :crop}


 ]



