[

  ;; technology specific
  ;;-----------------------------------------------------------------------------------------------

  {:db/id #db/id[:db.part/db]
   :db/ident :technology/cycle-days
   :db/valueType :db.type/long
   :meta/unit "day"
   :db/cardinality :db.cardinality/one
   :db/doc "A technologys cycle parameter"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :technology/outlet-height
   :db/valueType :db.type/long
   :meta/unit "cm"
   :db/cardinality :db.cardinality/one
   :db/doc "Height where water application will be done from,
          positive values mean overhead irrigation and negative values drip irrigation"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :technology/sprinkle-loss-factor
   :db/valueType :db.type/double
   :db/cardinality :db.cardinality/one
   :db/doc "Factor describing the sprinkle losses of a given irrigation technology"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :technology/type
   :db/valueType :db.type/ref
   :db/cardinality :db.cardinality/one
   :db/doc "Type of irrigation system"
   :db.install/_attribute :db.part/db}

  [:db/add #db/id[:berest.part/system] :db/ident :technology.type/drip]
  [:db/add #db/id[:berest.part/system] :db/ident :technology.type/sprinkler]

  ;; donation related, but belong mostly to technology
  ;;-----------------------------------------------------------------------------------------------

  {:db/id #db/id[:db.part/db]
   :db/ident :donation/min
   :db/valueType :db.type/long
   :meta/unit "mm"
   :db/cardinality :db.cardinality/one
   :db/doc "Minimal donation a technology can give"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :donation/max
   :db/valueType :db.type/long
   :meta/unit "mm"
   :db/cardinality :db.cardinality/one
   :db/doc "Maximal donation a technology can give"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :donation/opt
   :db/valueType :db.type/long
   :meta/unit "mm"
   :db/cardinality :db.cardinality/one
   :db/doc "optimal donation a technology can give"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :donation/step-size
   :db/valueType :db.type/long
   :meta/unit "mm"
   :db/cardinality :db.cardinality/one
   :db/doc "Step size in which donations can be increased or decreased"
   :db.install/_attribute :db.part/db}

  ;; donation application specific
  ;;-----------------------------------------------------------------------------------------------

  {:db/id #db/id[:db.part/db]
   :db/ident :donation/abs-day
   :db/valueType :db.type/long
   :meta/unit "day"
   :db/cardinality :db.cardinality/one
   :db/doc "Absolute start day of an donation"
   :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :donation/abs-start-day
  :db/valueType :db.type/long
  :meta/unit "day"
  :db/cardinality :db.cardinality/one
  :db/doc "Absolute start day of an donation"
  :db.install/_attribute :db.part/db}

 {:db/id #db/id[:db.part/db]
  :db/ident :donation/abs-end-day
  :db/valueType :db.type/long
  :meta/unit "day"
  :db/cardinality :db.cardinality/one
  :db/doc "Absolute end day of an donation"
  :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :donation/amount
   :db/valueType :db.type/double
   :meta/unit "mm"
   :db/cardinality :db.cardinality/one
   :db/doc "Amount of water for donation"
   :db.install/_attribute :db.part/db}

  {:db/id #db/id[:db.part/db]
   :db/ident :donation/area
   :db/valueType :db.type/double
   :meta/unit "m2"
   :db/cardinality :db.cardinality/one
   :db/doc "Area which has already been irrigated"
   :db.install/_attribute :db.part/db}

  ]